{{#loggedin}}
<div id="links">
	<img src="images/logo.svg" alt="LedgerAPI logo" />
	<a href="#" onclick="loadHome()">Home</a>
	<a href="#" onclick="editProfile()">Profile</a>
</div>

<div>
	Welcome&nbsp;<span style="font-weight: bold">{{username}}</span>&nbsp;|&nbsp;<a
		href="#"
		onclick="userService.logout();return false;"
		>logout</a
	>
</div>
{{/loggedin}} {{#loggedout}}
<div id="links">
	<img src="images/logo.svg" alt="LedgerAPI logo" />
	<a href="#" onclick="loadHome()">Home</a>
</div>

<div>
	<a href="#" onclick="showLoginForm();return false;">login</a>
</div>
{{/loggedout}}
