{{#loggedin}}
<div class="filter-box">
	<h3>Filter Entries</h3>

	<div>
		<label for="min-amount" class="form-label"
			>Minimum Amount: $ <span id="min-amount-display">0</span></label
		>
		<input
			type="range"
			class="form-range"
			id="min-amount"
			min="0"
			max="10000"
			value="0"
			onchange="setMinAmount(this)"
		/>
	</div>
	<div>
		<label for="max-amount" class="form-label"
			>Maximum Amount: $ <span id="max-amount-display">10000</span></label
		>
		<input
			type="range"
			class="form-range"
			id="max-amount"
			min="0"
			max="10000"
			value="10000"
			onchange="setMaxAmount(this)"
		/>
	</div>

	<div class="form-floating mb-3">
		<select name="" id="filter-select" class="form-select" onchange="setFilter(this)">
			<option value="">Show All</option>
			<option>Previous Year</option>
			<option>YTD</option>
			<option>Previous Month</option>
			<option>MTD</option>
		</select>
		<label for="filter-select">Custom Reports</label>
	</div>
</div>
<div id="content" class="content"></div>
{{/loggedin}}
